/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;


@font-face{
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: 'Plus Jakarta Sans';
  box-sizing: border-box;
}

.auth {
    background-image: url('../components/vector-10.svg'), url('../components/vector-9.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, 100%;
    background-position: 0 80%, 0 85%;
}

.page-container {
    width: 100%;
    padding: 0 30px 30px 30px;
    margin-left: 16.7%;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    position: fixed;
    /* height: 100px; */
    padding: 25px 0px;
    background-color: white;
}

.page-title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #130F26;
}

.current-date {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.page-body {
    margin-top: 100px;
}

.priority {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    border-radius: 14px;
    padding: 5px 10px;
}

.medium-priority {
    color: #FFFFFF;
    background-color: #67CB65;
}

td, th {
  border: 1px solid #F1EEF6;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #F1EEF6;
}