/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;


@font-face{
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: 'Plus Jakarta Sans';
  box-sizing: border-box;
}

.auth {
    background-image: url('../components/vector-10.svg'), url('../components/vector-9.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, 100%;
    background-position: 0 80%, 0 85%;
}

.page-container {
    width: 100%;
    padding: 0 30px 30px 30px;
    margin-left: 16.7%;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid blue;
    position: fixed;
    right:0;
    left: 16.7%;
    padding: 25px 30px;
    background-color: white;
    z-index: 1;
}

.page-title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #130F26;
}

.current-date {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.page-body {
    margin-top: 100px;
}

.priority {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    border-radius: 14px;
    padding: 5px 10px;
}

.nice-priority {
    color: #FFFFFF;
    background-color: #3c4ec0;
}

.low-priority {
    color: #FFFFFF;
    background-color: #65a9cb;
}

.medium-priority {
    color: #FFFFFF;
    background-color: #67CB65;
}

.high-priority {
    color: #FFFFFF;
    background-color: #cbac65;
}

.critical-priority {
    color: #FFFFFF;
    background-color: #cb7965;
}

td, th {
  border: 1px solid #F1EEF6;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #F1EEF6;
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}
  
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}
  
.hamburger-middle {
    transform: translateY(7px);
}
  
.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}
  
.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}
  
.open .hamburger-middle {
    display: none;
}
  
.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.active-mobile-sidebar {
    width: 300px;
    position: absolute;
    display: block;
    background-color: white;
    z-index: 2;
    position: fixed;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    cursor: pointer;
}

#sibe-bar {
    animation-name: smooth-transition;
    animation-duration: 1s;
}

@keyframes smooth-transition {
    from {
        width: 0%;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 976px) {
    .page-header {
        left: 0;
    }
    .page-container {
        margin-left: 0% !important;
    }
}
