.title-text {
    margin: 10px 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

.sub-text {
    margin: 10px 0;
    color: #6C6C6C;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.projects-list {
    display: flex;
    flex-direction: column;
    background: #F1EEF6;
    height: 800px;
    width: 19%;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
    overflow: auto;
}

.list-head {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
}

.list-head div {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: white;
    border-radius: 14px;
    padding: 5px 10px;
}

.list-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.create-input-container {
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-input-container input {
    width: 100%;
}

.projects-list input {
    border: 1px solid gray;
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
}

.list-item {
    min-height: 150px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    cursor: pointer;
}

.list-item-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.list-item-head p {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.list-item-body {
    display: flex;
    flex-direction: column;
}

.list-item-body div {
    display: flex;
    margin: 5px 0;
}

.list-item-body div p:first-of-type {
    color: #6C6C6C;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: 50%;
}
.list-item-body div p:last-of-type {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 50%;
}